.pleas_section {
  height: 400px;
  .image_section {
    flex: 1;
    img {
      height: 100%;
    }
  }
  .text-section {
    flex: 2;
    button {
      width: 140px;
      height: 40px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: #f4db3a;
      color: #000;
      margin-top: 30px;
      box-shadow: 1px 1px 12px 1px #fff;
      font-weight: 700;
      font-family: "Montserrat";
      text-transform: capitalize;
      &:hover{
        background-color: #333;
        color:$yellow;
      }
    }
  }
  .icon_text {
    margin-top: 30px;

    height: 65px;
    border: 2px solid $light_blue;
    .icon_one,
    .icon_two,
    .icon_three {
      background-color: #00a4ff;
      width: 41%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      span {
        font-size: 20px;
        margin-left: 5px;
      }
      svg {
        font-size: 20px;
        color: #fff;
      }
    }
    .icon_two {
      background-color: #e4e4e4;
      svg {
        color: #333;
      }
    }
    .icon_three {
      background-color: #fff;
      svg {
        color: #333;
      }
    }
  }
  &{
    @include break_point(xsmobil){
      height: auto;
      flex-direction: column;
      .image_section{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .text-section {
        text-align: center;
        margin-top: 20px;
      }
    }
    @include break_point(mobil){
      height: auto;
      flex-direction: column;
      .image_section{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .text-section {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
